<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<f:comment>
		<!-- =========================================================================================================================== -->
		<!-- Google Maps -->
		<!-- =========================================================================================================================== -->
	</f:comment>
	<f:if condition="{settings.displayGoogleMap}">
		<f:render partial="Address/GoogleMaps" arguments="{_all}" />
	</f:if>


	<f:comment>
		<!-- =========================================================================================================================== -->
		<!-- Output list -->
		<!-- =========================================================================================================================== -->
	</f:comment>
	<f:render partial="Address/List" arguments="{_all}" />

</f:section>